In [3]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('./Data/Data_csv/vietcom1to10.csv')
df2 = pd.read_csv('./Data/Data_csv/vietcom11.csv')
df3 = pd.read_csv('./Data/Data_csv/vietcom12.csv')
df4 = pd.read_csv('./Data/Data_csv/vietcom13.csv')
df5 = pd.read_csv('./Data/Data_csv/vietcom14.csv')

In [8]:
df1 =df1[["Date", "Money", "Description"]]

In [9]:
merged = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [10]:
merged

,Date,Money,Description
0,01/09/2024,50.000,292976.010924.013647.xin cam on
1,01/09/2024,20.000,VCB.CTDK.
2,01/09/2024,29.000,MBVCB.6916176124.CAO VIET TUAN chuyen tien.CT ...
3,01/09/2024,3.000,272986.010924.101858.DO DUC LOI chuyen tien
4,01/09/2024,3.000,020097040509011046122024JDC5013867.96713 .1046...
...,...,...,...
1380631,14/09/2024,500.000,"""113815.140924.224454.LE THI ANH LAN chuyen ti..."
1380632,14/09/2024,100.000,"""020097042209142244552024LRNW891579.90545.2244..."
1380633,14/09/2024,50.000,"""670554.140924.224451.ung ho bao lu"" 205111"
1380634,14/09/2024,100.000,"""020097042209142244562024RCH5431725.89970.2244..."
1380635,14/09/2024,200.000,"""020097042209142244562024F1CS215189.90553.2244..."

In [12]:
merged.to_csv('./Data/Data_csv/vietcom_merged.csv', index=False)